*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.eslogan{
width: 100%;
height: 30px;
background-color: white;

}
.eslogan p{
    margin-left: 120px;
    color: rgb(0, 0, 0);
}

header{ 
width:100%;
display: flex;
align-items: center;
justify-content: flex-start;
background-color: #141223;
height: 150px;
padding: 0 1em;
}

.logo img{
    height: 150px;
    width: 175px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav > ul > li {
    display: inline-block;
    position: relative;
  }
  
  nav > ul > li > a {
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    background-color: #FFFFFF;
  }
  
  nav > ul > li:hover > a {
    background-color: #eee;
  }
  
  nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
  }
  
  nav ul li:hover > ul {
    display: inherit;
  }
  
  nav ul ul li {
    display: block;
    width: 200px;
  }
  
  nav ul ul li a {
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    background-color: #eee;
  }
  
  nav ul ul li a:hover {
    background-color: #ccc;
  }
  
  .botonera{
    padding-left:75px;
  }

form{
    margin-left: auto;
    margin-top: 50px;
}
form input{
  height:30px;
    width: 200px;
    border-radius: 15px;
    padding: 2px 10px;
}

form button{    background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;}

form button img{
  
    height: 20px;

   
}

main div{
    height: 50px;
}

.sobreNosotros{
    width:100%;
display:inline-block;
align-items: center;
background-color: #141223;
height: 400px;
margin-top: 40px;
}
.sobreNosotros div{
    margin: 20px 30px;
    padding-top: 5px;
    background-color: #FFDE59;
    border-radius: 10px;
    text-align: center;
}

.sobreNosotros .infoSN{
    margin: 20px 30px;
    padding-top: 5px;
    background-color: #FFB678;
    border-radius: 10px;
    
}

.btn{padding-top:20px}
  
@keyframes slide {
	0% { transform: translateX(0); }
	10% { transform: translateX(0); }

	15% { transform: translateX(-100%); }
	30% { transform: translateX(-100%); }

	35% { transform: translateX(-200%); }
	50% { transform: translateX(-200%); }

	55% { transform: translateX(-300%); }
	70% { transform: translateX(-300%); }

	75% { transform: translateX(0); }
	90% { transform: translateX(0); }

	95% { transform: translateX(0); }
	100% { transform: translateX(0); }
}

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
	font-family: sans-serif;
}

.wrapper {
	max-width: 1950px;
	margin: 0 auto;
}

.slider {
	position: relative;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
  padding-top: 30px;
}

.slide {
	width: 100vw;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.slides:hover .slide {
	animation-play-state: paused;
}

.slide img {
	width: 100%;
	vertical-align: top;
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}

.slide img{

  height: 100%;
  width: 100%;
}

.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 8vw;
	position: absolute;
	bottom: 8vw;
	right: 4vw;
}

.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}



.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

@media only screen and (min-width: 1200px) {
	

	.caption {
		font-size: 96px;
		bottom: 96px;
		right: 50px;
	}
}


footer{
  background:#0000;
  padding:30px 0px;
  text-align:center;
  }
  
  footer .row{
  width:100%;
  padding-top:25px;
  color:black;
  
  }
  
  footer .row a{
  
  color:black;
  
  }
  
  footer .row a:hover{
  color:grey;
  }
  
  footer .row ul{
  width:100%;
  }
  
  footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }

  .formulario{


  border-color: #FFDE59;
  }

  .infoSN{
    height: auto;
    padding-top: 0px;
  }
  .infoSN p{
    text-align: left;
  }


  .imagenes{
    padding-top: 690px;
    width: 300px;
    height: 300px;
    font-size: 15px;
    padding-left: 200px;
    display: inline-block
    

  }

  .imagenes img{
    width: 300px;
    height: 300px;
    display: inline-block

  }